<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

        <% if (message.length > 0 && message != 'DONE!' &&  message != 'Welcome to upload center!') { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <% if (message.length > 0 &&( message == 'DONE!' ||  message == 'Welcome to upload center!')) { %>
            <div class="alert alert-success"><%= message %></div>
        <% } %>
    

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Upload Page</h1>
        <a href="/profile" class="btn btn-default btn-sm">Back to Profile</a>
    </div>

    <form action="/profile/upload" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="img" >
        <input type="submit" value="upload">
    </form>
    

</div>
</body>
</html>
